@tailwind base;
@tailwind components;
@tailwind utilities;

 @font-face {
    font-family: 'Playfair';
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
 }
 

@layer components{
    .bkng{
        background-image: url("images/background.jpg");
        /* width: fit-content; */
        @apply h-screen;
        /* height: fit-content; */
        @apply w-screen;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }
}